@font-face {
    font-family: 'Merriweather-Regular';
    src: url(./fonts/Merriweather-Regular.ttf);
}

/* -------- Container -------- */

body{
    background-color: #1f2e4196;
    font-family: 'Merriweather-Regular';
}

.container{
    margin: 20px 300px 0px 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

/* -------- Header -------- */

.header{

}

/* -------- Grid Section -------- */

.grid-section{
    display: flex;
    gap: 10px;
    margin-right: 100px;
}

.grid-section img{
    height: 80px;
    width: auto;
    align-self:flex-end;
}

.grid-container{
    justify-content: center;
    width: 800px;
    height: auto;
}

.column{
    display: flex;
    border-left: 2px solid black;
    border-right: 2px solid black;
    border-top: 2px solid black;
}

.row{
    flex: 1;
    border-right: 2px solid black;
}

/* -------- Footer -------- */

.footer{
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.slider-container{
    display: flex;
    flex-direction: column;
    width: 500px;
}

.slider-value{
    text-align: center;
    font-size: 25px;
}

.color-and-clear{
    display: flex;
    justify-content: center;
    gap: 50px;
}

.color-and-clear input{
    height: 35px;
    width: 80px;
}

.color-and-clear button{
    border-radius: 30px;
    padding: 10px 20px;
    border: none;
    font-family: 'Merriweather-Regular';
}

.color-and-clear button:hover{
    background-color: lightblue;
}

.color-and-clear button:active{
    background-color: rgb(110, 194, 223);
}

.tooltip-popup{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin-bottom: 40px;
}

.tooltip-popup ul{
    display: none;
    background-color: white;
    padding: 0px 50px 30px 50px;
    border-radius: 20px;
}

.tooltip-popup h2{
    text-align: center;
}